
body {
	background-color: white;
}

h1 {
	text-align:center;
	font-family: sans-serif;
}

.container {
	font-family: sans-serif;
	background-color: rgb(239, 240, 252);
}

#javascript {
	display: none;
	background-color: yellow;
}

#python {
	display: none;
	background-color: yellow;
	color:blue;
}

#cSharp {
	display: none;
	background-color: green;
	color: white;
}

#quote {
  display: none;
}

.btn{
	border: 2px solid;
	border-color: aquamarine;
}