h1 {
	text-align:center;
	font-family: sans-serif;
}

.containter {
	font-family: sans-serif;
}

#javascript {
	display: none;
}

#python {
	display: none;
}

#cSharp {
	display: none;
}

#quote {
  display: none;
}