

h1 {
	text-align:center;
	font-family: sans-serif;
}

.container {
	font-family: sans-serif;
	background-color: rgb(239, 240, 252);
	box-sizing:border-box
}

#javascript {
	display: none;
	background-color: yellow;
	margin: 5px;
}

#python {
	display: none;
	background-color: yellow;
	color:blue;
	margin: 5px;
}

#cSharp {
	display: none;
	background-color: green;
	color: white;
	margin: 5px;
}

img {
	float: left;
	border: 5px; 
	margin: 5px; 
}

#quote {
  display: none;
}

.btn{
	border: 2px solid;
	border-color: aquamarine;
}